hostname = *.xiaohongshu.com

# 小红书开屏广告
^https?:\/\/edith\.xiaohongshu\.com\/api\/sns\/v2\/system_service\/splash_config url script-response-body https://raw.githubusercontents.com/victoryli-yang/Quanx/main/xiaohongshu/xiaohongshu.ad.js


